@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('/backend/static/assets/fonts/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('/backend/static/assets/fonts/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('/backend/static/assets/fonts/iranyekanwebregular(fanum).ttf') format('truetype');
}
