<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourist.health</title>
    <style>

    </style>
</head>
<body>

<p>

    Hi there, <br>

    Thank you for choosing <a href="https://tourist.health">Tourist.health</a> <br>

    Your registration has been submitted. Please click on the link below to activate your account and proceed with the payment and reservation. <br>

    <a href="{{link}}">{{link}}</a><br>

    OTP : {{ otp }}<br>

    No longer want to receive these emails? <a href="https://tourist.health">Unsubscribe</a> <br>


</p>
</body>
</html>